/*login*/
.login-page {
  .login-form {
    .buttom {
      margin: 1.45rem auto 0.67rem;
    }
  }
}

// home/index.vue
.home-header {
  .mui-nav {
    .svg-container.svg-image{
      margin-left: 10px;
      margin-right: 10px;
      img.svg-left{
        width: 1.29rem;
        height: 1.29rem;
      }
    }
    .svg-container.mui-nav-right {
      margin-right: 0.2rem;
    }
    &.list-record {
      margin-bottom: 14px;
      .svg-container.svg-image {
        margin-left: 0;
        margin-right: 6PX;
        .svg-left {
          width: 100%;
          height: auto;
          margin-top: 8PX;
        }
      }
      .svg-container .svg-icon {
        font-size: 0.52rem; 
        margin-right: 5PX;
      }
    }
  }
}
.home-content {
  .fl.svg-container.mui-nav-left {
    margin-left: 0;
    margin-right: 8PX;
    .svg-left {
      margin-top: 7PX;
    }
  }
  .fr.svg-container.mui-nav-right {
    margin-right: 8PX;
  }
  svg.svg-left.svg-icon {
    font-size: 0.56rem;
    margin-right: 5PX;
  }
  svg.svg-right.svg-icon {
    font-size: 0.46rem;
    margin-right: 8PX;
  }
  .content {
    overflow: hidden;
    margin: 0 0.18rem;
    .content-card {
      margin:0.2rem 0;
      border-bottom: 1PX solid #e1e1e1;
      .title.fl {
        font-size: 0.39rem;
        padding: 0 0 0.08rem 4PX;/*no*/
        width: calc(100% - 0.45rem);
        span {
          width: 85%;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          display: inline-block;
        }
      }
      .mui-nav-right {
        margin-right: 0;
        width: 0.45rem;
      }
      &:first-child {
        margin-top: 0.44rem;
      }
      &:last-child {
        border-bottom: none;
      }
    }
    .mui-cell-grid {
      width: calc(100% / 3 );
      float: left;
      margin-top: 0.44rem;
      min-height: 2.04rem;
      font-family: $fontSC;
      .mui-cell-grid-title {
        p {
          text-overflow: ellipsis;
          overflow: hidden;
          -webkit-line-clamp: 1;
          display: -webkit-box;
          -webkit-box-orient: vertical;
        }
      }
    }
  }
}

/*indexlist*/
.indexlist-page {
  .mui-index-section {
    .mui-cell {
      padding: 24px 0 18px;
      border-bottom: 1Px solid $borderBottom;
    }
    .mui-cell-text {
      margin-left: 0.38rem;
      color: #333;
    }
    .mui-cell-wrapper {
      padding: 0 0.44rem;
    }
  }
  .mui-index-section.index-list-section .mui-index-section-index {
    padding: 0.178rem 0.44rem 0;
  }
  .mui-nav {
    height: 1rem;
    padding-bottom: 0.15rem;
    .fl.title {
      text-align: center;
      font-size: 0.44rem;
      color: $black;
      font-family: $fontSC;
    }
    .svg-left {
      font-size: 0.38rem;
      margin-left: 0.2rem;
    }
  }
  .mui-searchInput {
    margin: 0 0.43rem;
   .searchicon svg{
     font-size: 0.42rem;
     color: $gray3;
   }
  }
  .indexlist-logo {
    .mui-cell-wrapper {
      margin-top: 0.20rem;
    }
    .indexlist-list-logo {
      width: 1rem;
      height: 1rem;
    }
    .mui-cell-text {
      color: $gray3;
      font-size: 0.39rem;
    }
  }
}

/*service-page*/
.service-page {
  .mui-nav {
    height: 1rem;
    padding-bottom: 0.15rem;
    .fl.title {
      text-align: center;
      font-size: 0.44rem;
      color: $black;
      font-family: $fontSC;
    }
    .svg-left {
      font-size: 0.38rem;
      margin-left: 0.2rem;
    }
  }
  .service-container {
    .mui-cell{
      padding: 0.18rem 0.24rem;
      border-bottom: 1Px solid $borderBottom;
    }
    .mui-cell-text {
      color: $gray3;
      font-size: 0.39rem;
      font-family: $fontSC;
    }
    .mui-cell-value.is-link span{
      color: $gray9;
      font-size: 0.39rem;
      font-family: $fontSC;
    }
  }
  .service-upload {
    margin: 0 0.4rem;
    .service-uplod-title {
      text-align: left;
      font-family: $fontSC;
      font-size: 0.39rem;
      color: $gray3;
      margin: 0.52rem 0;
    }
    .mui-upload {
      .mui-upload-add {
        width: 2.16rem;
        height: 2.16rem;
        background-color: #f0f0f0;
        display: flex;
        display: -webkit-flex;
        justify-content: center;
        -webkit-justify-content: center;
        align-items: center;
        -webkit-align-items: center;
        margin-top: 0.2rem;
        .mui-upload-add-image{
          font-size: 0.36rem;
          color: #c2c2c2;
        }
      }
    }
    + .buttom {
      margin-top: 0.7rem;
    }
  }
}

/* 飞鱼客服 - 选择 */
.service-change-page {
  margin-top: 0.12rem;
  .service-change-content {
    margin: 0.28rem 0.26rem 0;
    font-size: 0.44rem;
    color: $gray3;
    font-family: $fontSC;
  }
  .service-change-title {
    padding: 0.12rem 0 0.3rem;
    overflow: hidden;
    .fl.title {
      text-align: center;
    }
  }
  .service-change-content {
    .mui-nav {
      padding: 0.3rem 0 0.32rem;
      border-bottom: 1Px solid #e1e1e1;
    }
    .fl.title {
      text-align: left;
      font-size: 0.44rem;
    }
  }
  .service-change-amount-input,
  .service-change-problem-input {
    width: 100%;
    background-color: #f9f9f9;
    border: none;
    border-radius: 0.24rem;
    color: $gray3;
    padding-left: 0.33rem;
    @include placeholder {
      color: $gray9;
    }
  }
  .service-change-amount-input {
    height: 0.97rem;
  }
  .service-change-problem-input {
    min-height: 5.8rem;
    line-height: 1rem;
  }
}

/* 时间插件 */
.date-picker {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 99;
  width: 100%;
  height: auto;
  box-shadow: 0 -0.08rem 0.24rem rgba(0, 0, 0, 0.1);
  border-radius: 0.24rem;
  min-height: 5.5rem;
  .van-hairline--top-bottom.van-picker__toolbar {
    height: 1.2rem;
    line-height: 1.2rem;
    .van-picker__cancel, .van-picker__confirm {
      font-size: 0.38rem;
      color: #333;
      font-family:  PingFang-SC-Bold;
    }
  }
  .van-picker-column {
    font-size: 0.38rem
  }
  .van-picker__columns {
    height: 2.5rem;
  }
}