// home/index.vue
.home-header {
  .mui-nav {
    .svg-container.svg-image{
      margin-left: 10px;
      margin-right: 10px;
      img.svg-left{
        width: 1.29rem;
        height: 1.29rem;
      }
    }
    .svg-container.mui-nav-right {
      margin-right: 0.2rem;
    }
    &.list-record {
      margin-bottom: 14px;
      .svg-container.svg-image {
        margin-left: 0;
        margin-right: 6PX;
        .svg-left {
          width: 100%;
          height: auto;
          margin-top: 8PX;
        }
      }
      .svg-container .svg-icon {
        font-size: 0.52rem; 
        margin-right: 5PX;
      }
    }
  }
}
.home-content {
  .fl.svg-container.mui-nav-left {
    margin-left: 0;
    margin-right: 8PX;
    .svg-left {
      margin-top: 7PX;
    }
  }
  .fr.svg-container.mui-nav-right {
    margin-right: 8PX;
  }
  svg.svg-left.svg-icon {
    font-size: 0.56rem;
    margin-right: 5PX;
  }
  svg.svg-right.svg-icon {
    font-size: 0.46rem;
    margin-right: 8PX;
  }
  .content {
    overflow: hidden;
    margin: 0 0.18rem;
    .content-card {
      margin:0.2rem 0;
      border-bottom: 1PX solid #e1e1e1;
      .title.fl {
        font-size: 0.39rem;
        padding: 0 0 0.08rem 4PX;/*no*/
        width: calc(100% - 0.45rem);
        span {
          width: 85%;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          display: inline-block;
        }
      }
      .mui-nav-right {
        margin-right: 0;
        width: 0.45rem;
      }
      &:first-child {
        margin-top: 0.44rem;
      }
      &:last-child {
        border-bottom: none;
      }
    }
    .mui-grid {
      width: calc(100% / 3 );
      float: left;
      margin-top: 0.44rem;
      min-height: 2.04rem;
      font-family: $fontSC;
      .mui-grid-title {
        p {
          text-overflow: ellipsis;
          overflow: hidden;
          -webkit-line-clamp: 1;
          display: -webkit-box;
          -webkit-box-orient: vertical;
        }
      }
    }
  }
}

/*indexlist*/
.indexlist-page {
  .mui-index-section{
    .mui-cell {
      padding: 20px 0 14px;
      border-bottom: 1px solid #e1e1e1;
    }
    .mui-cell-text {
      margin-left: 0.38rem;
      color: #333;
    }
    .mui-cell-wrapper {
      padding: 0 0.44rem;
    }
  }
  .mui-index-section.index-list-section .mui-index-section-index {
    padding: 0.4rem 0.44rem 0;
  }
  .mui-nav .svg-left {
    width: 50px;
    height: 50px;
  }
}
