// base color
$red: #e8474a;
$white: #ffffff;
$gray: #cbcbcb;
$gray3: #333;
$grayae: #aeaeae;
$grayc:#ccc;
$grayf9:#f9f9f9;
$black: #000000;
$green: #4ec94b;
$gray6: #666666;

$blue:#324157;
$light-blue:#3A71A8;
$pink: #E65D6E;
$tiffany: #4AB7BD;
$yellow:#FEC171;
$panGreen: #30B08F;

// sidebar
$menuText:#bfcbd9;
$menuActiveText:#409EFF;
$subMenuActiveText:#f4f4f5; // https://github.com/ElemeFE/element/issues/12951

$menuBg:#304156;
$menuHover:#263445;

$subMenuBg:#1f2d3d;
$subMenuHover:#001528;

$inputPlaceholder: #ccc;

$sideBarWidth: 210px;

// font family
$fontSC: PingFang-SC-Medium;

// font size
$font24: 24px;
$font48: 0.39rem;

//border
$borderGray: #e1e1e1;
