.mui-select-dropdown-item {
  font-size: 14px;
  padding: 0 20px;
  position: relative;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #606266;
  height: 34px;
  line-height: 34px;
  box-sizing: border-box;
  cursor: pointer;
  &:hover {
    background-color: #f5f7fa;
  }
  &.is-disabled {
    color: #c0c4cc;
    cursor: not-allowed;
  }
  &.selected {
    color: #409eff;
    font-weight: 700;
  }
}